SECRET_KEY='django-insecure-11pzqw9_sad691w7)c-0!oxcu)@a_7@nx9vuvx8e^%6-qlg8y$'
DEBUG="true"
ALLOWED_HOSTS=["212.67.123.253", "elcargo-official.com", "www.elcargo-official.com"]

GREEN_API_ID='2343223432'
GREEN_API_TOKEN='b27183b4b9e44045866e2f287f21901df5752ea7bb1b4bf488'
CORS_ALLOWED_ORIGINS=["http://localhost:8000", "http://localhost", "http://localhost:3000", "http://127.0.0.1", "http://127.0.0.1:3000"]


